@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}
<section id="blog">
<div class="container">
        <div class="row pb-5" id="blogList">
        <input type="hidden" id="BlogCount" value="@ViewBag.BlogCount"/>
            @await Component.InvokeAsync("Blog",3)
        </div>
        <div class="row justify-content-center">
            <button id="loadmore" class="btn btn-primary">Load More...</button>
        </div>
</div>
</section>