@model ProductCreateVM
@{
    var categories = ViewBag.Categories;
}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Creation</h4>
                <form enctype="multipart/form-data" asp-action="create" class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" type="text" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>                    
                    <div class="form-group">
                        <label asp-for="Count"></label>
                        <input asp-for="Count" type="text" class="form-control" placeholder="Count">
                        <span class="text-danger" asp-validation-for="Count"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photos"></label>
                        <input asp-for="Photos" class="form-control" placeholder="Photos">
                        <span class="text-danger" asp-validation-for="Photos"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="CategoryId" asp-items="@categories">
                            @foreach(var category in categories)
                            {

                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Create</button>
                    <a asp-action="index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationPartial" />
}